*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.NavBar{
    display: flex;
    justify-content: space-around;
    padding: 20px ;
    background-color: white;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.logo{
    font-size: xx-large;
    font-weight: 900;
    margin-top: 5px;
}

nav li {
    display: inline-block;
    padding: 0 15px;
    font-size: 18px;
    padding-top: 15px;
}

nav li a{
    color: #252525;
}

.section-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 150px;
}

.searchbar-img{
    width: 200px;
    height: 230px;
}

.searchbar-text{
    display: flex;
    flex-direction: row;
    font-size: 55px;
    margin-left: 150px;
    position: relative;
    z-index: 0;
    gap: 30px;
}

.searchbar-text-start{
    font-weight: 900;
}

.searchbar-text-end{
    font-weight: 900;
    color: #FFC933;
}

.app-button-group{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.app-button-group a img {
    width: 200px;
    height: 66px;
}

.copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #74758C;
}

.copy p:nth-child(2){
    margin-top: 10px;
    margin-bottom: 40px;
}

.app-button{
    width: 67px;
    height: 200px;
    border-radius: 20px;
}

.mobile-button{
    display: flex;
    justify-content: center;
    width: 220px;
    height: 60px;
    background-color: black;
    color: white;
    align-items: center;
    border-radius: 20px;
}

.navbar-icon .menu-icon input{
    border: none;
    font-size: 35px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 3px;
}

.copy-box ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.copy-box li{
    display: inline-block;
    justify-content: space-between;
}

.copy-img{
    width: 280px;
    height: 462px;
}

.copy-text{
    margin-bottom: 10px;
    font-size: x-large;
}

.web-section{
    position: relative;
    overflow: hidden;
    width: 100vw;
}

.video-frame{
    position: relative;
}

video{
    width: 100vw;
    height: 100vh;
}

.video-inner{
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    z-index: 10;
}

.video-inner h1{
    font-size: 48px;
    font-weight: bold;
    margin-top: 50px;
}

.video-inner p{
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
}

.spec-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding-top: 125px;
    background-color: white;
}

.spec-section p{
    text-align: center;
}

.p2{
    margin-top: 20px;
}

.spec-box{
    margin-bottom: 50px;
}

.spec-box-bottom{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100vw;
    padding-top: 75px;
    background-color: #446ee8;
}

.spec-box-bottom h1{
    font-size: 24px;
    color: white;
    font-weight: 600;
}

.spec-box-container{
    margin-bottom: 50px;
}

@media(max-width:750px) {
    header{
        align-items: center;
    }

    .searchbar{
        margin-top: 50px;
        margin-bottom: 70px;
    }

    .NavBar li {
        display: none;
    }

    .logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: x-large;
    }

    .searchbar-text-start,
    .searchbar-text-end{
        display: block;
        margin: 10px 0;
    }

    .app-button-group a img {
        display: none;
    }

    .app-button-group{
        gap: 0;
    }

    .searchbar-text{
        font-size: 55px;
        margin-left: 0;
        display: block;
        flex-direction:row;
        text-align: center;
    }

    .copy p{
        font-size: 16px;
    }

    .copy-box ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    .copy-text {
        display: flex;
        flex-direction: column;
        font-size: larger;
        text-align: center;
    }
    .video-inner-min{
        display: none;
    }
}

@media(min-width:751px) {
    .section-main{
        background: rgb(195,195,195);
        background: linear-gradient(0deg, rgba(195,195,195,1) 0%, rgba(247,247,249,1) 55%, rgba(251,254,255,1) 88%);
    }
    .searchbar-content{
        display: flex;
        align-items: center;
        position: relative;
        background-color: white;
        width: 700px;
        height: 80px;
        border-radius: 150px;
        box-shadow: inset 0px -5px 10px 0px rgba(0,0,0,0.1);
        padding: 20px;
    }

    .searchbar-img{
        width: 250px;
        height: 280px;
        margin-right: 20px;
        position: absolute;
        left: -80px;
        top: 70%;
        transform: translateY(-70%);
        z-index: 1;
        }

    .navbar-icon{
        display: none;
    }

    .mobile-button{
        display: none;
    }

    .copy-box li:nth-child(2),
    .copy-box li:nth-child(4){
    display: flex;
    flex-direction: column-reverse;
    }

    .copy-box li:nth-child(1) p,
    .copy-box li:nth-child(3) p{
        margin-bottom: 0;
        margin-top: 10px;
    }

    video{
        display: none;
    }

    .image-container{
        position: relative;
        width: 100%;
        height: 600px;
        overflow: hidden;
    }

    .video-inner-min img{
        width: 100%;
        height: 600px;
    }

    .gradient-overlay {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%); /* 그라데이션 설정 */
    }

    .video-inner{
        display: flex;
    }

    .video-inner h1{
        font-size: 80px;
        font-weight: 900;
    }

    .video-inner p{
        font-size: 35px;
        margin-left: 10px;
        margin-top: 70px;
        white-space: nowrap;
    }

    .spec-box{
        display: flex;
        flex-direction: row;
        gap: 150px;
        justify-content: center;
        align-items: center;
    }

    .spec-section .spec-box:nth-child(1),
    .spec-section .spec-box:nth-child(3){
        display: flex;
        flex-direction: row-reverse;
    }

    .spec-box-container{
        display: flex;
    }

    .spec-box-bottom h1{
        font-size: 40px;
        color: white;
    }

    .spec-bottom-box{
        margin: 50px 70px;
    }

    .spec-bottom-text{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    

}









